@model Model.EF.About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
}

<section class="xt-xt-single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-3 visible-xs visible-sm padding-right-o"></div>
            <div class="col-md-9 col-md-offset-3 padding-o" style="background-color: aliceblue;">
                <div class="xt-product-inner">
                    <p style="text-indent: 40px;">
                        @Model.Header
                    </p>
                    <img src="/Assets/Client/images/@Model.Image" alt="" class="img-responsive" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<div class="row section-separator" style="padding-top:15px; width:105%;">
    <div class="col-md-12">
        <div class="xt-single-item-info" style="padding-left:12px;">
            <div class="tab-content xt-tab-content">
                <div role="tabpanel" class="tab-pane xt-pane xt-description fade in active" id="description">
                    <h4>@Model.Title_Body</h4>
                    <p>@Model.Body</p>
                    
                    <h4>@Model.Title_Guarantee</h4>
                    <p>@Model.Guarantee</p>
                </div>
            </div>
        </div>
    </div>
</div>

