@model Model.EF.Product
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
    var listProductByTrademark = (List<Model.EF.Product>)ViewBag.listProductByTrademark;
}

<section class="xt-xt-single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-3 visible-xs visible-sm padding-right-o"></div>
            <div class="col-md-9 col-md-offset-3 padding-o" style="background-color: aliceblue;">
                <div class="xt-product-inner">
                    <div class="col-md-5">
                        <div role="tabpanel" class="tab-pane active xt-product-tab">
                            <div class="tab-content xt-pro-small-image">
                                <div role="tabpanel" id="xt-pro-3" class="tab-pane fade active in">
                                    <img src="/Assets/Client/images/@Model.Avatar" alt="" class="img-responsive" style="width:100%;">
                                </div>
                            </div>
                            <ul id="tablist" class="xt-pro-thumbs-list" role="tablist">
                                <li role="presentation" class="">
                                    <a href="#xt-pro-1" role="tab" data-toggle="tab" aria-expanded="false">
                                        <img src="/Assets/Client/images/s-1.jpg" alt="product thumbs">
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#xt-pro-2" role="tab" data-toggle="tab" aria-expanded="false">
                                        <img src="/Assets/Client/images/s-2.jpg" alt="product thumbs">
                                    </a>
                                </li>
                                <li role="presentation" class="active">
                                    <a href="#xt-pro-3" role="tab" data-toggle="tab" aria-expanded="true">
                                        <img src="/Assets/Client/images/s-3.jpg" alt="product thumbs">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="each-product-info">
                            <h3>@Model.Name</h3>
                            <span class="single-price"><b>Giá bán:</b> @Model.Price</span>
                            <p>@Model.Description</p>
                            <div class="product-add-cart">
                                <a href="/themgiohang?id=@Model.ID_Product&quantity=1" class="btn btn-fill">Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<div class="row section-separator" style="padding-top:15px;">
    <div class="col-md-12" style="width: 103%;">
        <div class="xt-single-item-info" style="padding-left:12px;">
            <ul class="nav nav-tabs xt-single-item-tab" role="tablist" id="xt-product-dec-nav">
                <li role="presentation" class="active">
                    <a href="#" aria-controls="description" role="tab" data-toggle="tab">Mô tả sản phẩm</a>
                </li>
            </ul>
            <div class="tab-content xt-tab-content">
                <div role="tabpanel" class="tab-pane xt-pane xt-description fade in active" id="description">
                    <p>@Model.Content</p>
                </div>
            </div>
        </div>
        <div class="xt-feature-product">
            <div class="section-separator">
                <div class="section-title">
                    <h2>SẢN PHẨM LIÊN QUAN</h2>
                    <span class="xt-title-bg"></span>
                </div>
                <div class="xt-each-feature">
                    @foreach (var item in listProductByTrademark)
                    {
                        <div class="col-md-4 col-sm-4">
                            <div class="xt-feature">
                                <div class="product-img">
                                    <img src="/Assets/Client/images/@item.Avatar" alt="" class="img-responsive">
                                    <a href="/chitietsanpham/@item.Metatitle?id=@item.ID_Product"><span class="product-tag xt-uppercase">@item.Name</span></a>
                                </div>
                                <div class="product-info">
                                    <div class="product-title">
                                        <span class="category xt-uppercase">Giá bán</span>
                                    </div>
                                    <div class="price-tag pull-right">
                                        <span class="new-price xt-semibold">@item.Price</span>
                                </div>
                                <div class="xt-featured-caption">
                                    <div class="add-cart">
                                        <a href="/themgiohang?id=@item.ID_Product&quantity=1" class="btn btn-fill">Thêm giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


