@model List<Model.EF.Product>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout_client.cshtml";
    //var listPromotionProductTop = (List<Model.ViewModel.PromotionViewModel>)ViewBag.listPromotionProductTop;
    var totalPage = (int)ViewBag.totalPage;
    var category = (Model.EF.Category)ViewBag.category;
    var trademark = (Model.EF.Trademark)ViewBag.trademark;
    var listTrademark = (List<Model.EF.Trademark>)ViewBag.listTrademark;
    var colors = (List<string>)ViewBag.colors;
    var page = (int)ViewBag.page;
    var prf = (int)ViewBag.prf;
    var prt = (int)ViewBag.prt;
    var co = (string)ViewBag.co;
    var td = (long)ViewBag.td;
    var ct = (long)ViewBag.ct;
}
<style>
    .limiter-menu-desktop {
        background-color: darkslategray;
    }
</style>
<div class="bg0 m-t-23 p-b-140" style="margin-top: 130px;">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-c-m m-tb-10">
                <div class="bread-crumb flex-w p-l-25 p-r-15 p-lr-0-lg">
                    <a href="/" class="stext-109 cl8 hov-cl1 trans-04" style="font-size:20px;">
                        TRANG CHỦ
                        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                    </a>
                    <span class="stext-109 cl4" style="font-size:20px;">
                        @category.Name
                        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                    </span>
                    @if (trademark != null)
                    {
                        <span class="stext-109 cl4" style="font-size:20px;">
                            @trademark.Name
                        </span>
                    }
                </div>
            </div>
            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-107 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Lọc sản phẩm
                </div>
            </div>
            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                @using (Html.BeginForm("Index", "Product", FormMethod.Post))
                {
                    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                        <div class="filter-col1 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Giá bán
                            </div>
                            <input name="prf" class="form-control form-control-sm" type="number" value="1" placeholder="From" style="width: 100px; border-radius: 12px; display: inline-block;">
                            &nbsp;~&nbsp;
                            <input name="prt" class="form-control form-control-sm" type="number" value="" placeholder="To" style="width: 100px; border-radius: 12px; display: inline-block;">
                        </div>
                        <div class="filter-col2 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Thương hiệu
                            </div>
                            <div class="size-204 respon6-next">
                                <select class="form-control" name="td" style="border-radius: 12px;">
                                    @foreach (var item in listTrademark)
                                    {
                                        <option value="@item.ID_Trademark">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="filter-col3 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Màu sắc
                            </div>
                            <div class="size-204 respon6-next">
                                <select class="form-control" name="co" style="border-radius: 12px;">
                                    @foreach (var item in colors)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <input type="text" value="@category.ID_Category" name="ct" style="display: none">
                        <input type="text" value="true" name="fill" style="display: none">
                        <button type="submit" class="btn btn-success" style="float:right;float: right; height: 37px; width: 100px; border-radius: 18px; margin-top: 40px;">Lọc</button>
                    </div>
                }
            </div>
        </div>

        <div class="row isotope-grid">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                    <div class="block2" style="background-color: antiquewhite; height: 360px">
                        <div class="block2-pic hov-img0">
                            <img src="/Assets/Client/images/@item.Avatar" alt="IMG-PRODUCT" style="height: 270px;">
                            <a href="/themgiohang?id=@item.ID_Product&quantity=1" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                Thêm giỏ hàng
                            </a>
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14" style="text-align:-webkit-center;">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="/chitietsanpham?name=@item.Metatitle" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size: 16px;">
                                    @item.Name
                                </a>
                                @if (@item.Discount != null)
                                {
                                    <span class="stext-105 cl3" style="font-size: 16px;">
                                        <strike>@item.Price.GetValueOrDefault(0).ToString("N0") đ</strike>
                                    </span>
                                    <span class="stext-105 cl3" style="font-size: 16px;">
                                        @item.Discount.GetValueOrDefault(0).ToString("N0") đ
                                    </span>
                                }
                                else
                                {
                                    <span class="stext-105 cl3" style="font-size: 16px;">
                                        @item.Price.GetValueOrDefault(0).ToString("N0") đ
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Pagination -->
        <div class="flex-c-m flex-w w-full p-t-38">
            @for (var i = 1; i <= totalPage; i++)
            {
                if (trademark != null)
                {
                    if (i == page)
                    {
                        <a href="/danhmuc?name=@trademark.Metatitle&&page=@i&&prf=@prf&&prt=@prt&&co=@co&&td=@td&&ct=@ct" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">@i</a>
                    }
                    else
                    {
                        <a href="/danhmuc?name=@trademark.Metatitle&&page=@i&&prf=@prf&&prt=@prt&&co=@co&&td=@td&&ct=@ct" class="flex-c-m how-pagination1 trans-04 m-all-7">@i</a>
                    }
                }
                else
                {
                    if (i == page)
                    {
                        <a href="/danhmuc?name=@category.Metatitle&&page=@i&&prf=@prf&&prt=@prt&&co=@co&&td=@td&&ct=@ct" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">@i</a>
                    }
                    else
                    {
                        <a href="/danhmuc?name=@category.Metatitle&&page=@i&&prf=@prf&&prt=@prt&&co=@co&&td=@td&&ct=@ct" class="flex-c-m how-pagination1 trans-04 m-all-7">@i</a>
                    }
                }
            }
        </div>
    </div>
</div>




