@using WatchShop.Common;
@model Model.ViewModel.CategoryTrademarkViewModel
@{ 
    var carts = (List<WatchShop.Models.CartItem>)ViewBag.carts;
}
<div class="main-color-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 left-menu-wrapper">
                <div class="xt-sidenav hidden-xs hidden-sm">
                    <nav>
                        <ul class="xt-side-menu">
                            <li>
                                <a href="">THƯƠNG HIỆU</a>
                                <ul class="xt-dropdown">
                                @foreach (var category in Model.listCategory)
                                {
                                    <li>
                                        <a class="xt-nav-link" href="/danhmuc/@category.Metatitle?id=@category.ID_Category"><i class="fa flaticon-glasses"></i>@category.Name</a>
                                        <ul class="mega-menu">
                                        @foreach (var trademark in Model.listTrademark)
                                        {
                                            if (@category.ID_Category == @trademark.ID_Category)
                                            {
                                                <li>
                                                    <ul class="xt-single-mega">
                                                        <li><a href="/thuonghieu/@trademark.Metatitle?id=@trademark.ID_Trademark">@trademark.Name</a></li>
                                                    </ul>
                                                </li>
                                            }
                                        }
                                        </ul>
                                    </li>
                                }
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-12 xt-header-search">
                @using (Html.BeginForm("DetailProductByName", "Product", FormMethod.Post))
                {
                    <div class="form-group xt-form search-bar  col-md-8 col-sm-8 col-xs-7 padding-right-o">
                        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="name"/>
                    </div>
                    <div class="form-group xt-form xt-search-cat col-md-4 col-sm-4 col-xs-5 padding-left-o ">
                        <div class="xt-search-opt xt-search-btn">
                            <button type="submit" class="btn btn-primary btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-1 col-sm-2 col-xs-2">
                <div class="xt-cart">
                    <ul>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <i class="fa flaticon-shopping-cart"></i>
                            </a>
                            <ul class="dropdown-menu xt-cart-items">
                                @foreach (var item in carts)
                                {
                                    <li>
                                        <a href="">
                                            <img src="/Assets/Client/images/@item.Product.Avatar" alt="">
                                            <h3>@item.Product.Name</h3>
                                            <span class="cart-price">@item.Product.Price - @item.Quantity</span>
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="/giohang" class="process top-checkout">
                                        <h3>Xác nhận thanh toán</h3>
                                    </a>
                                </li>                                 
                            </ul>
                        </li>
                    </ul>
                    <span class="xt-item-count">@Session[ValSession.COUNT_ITEM_CART]</span>
                </div>
            </div>
        </div>
    </div>
</div>
