
@model  PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    var promotion = (List<Model.EF.Promotion>)ViewBag.promotion;
    var trademark = (List<Model.EF.Trademark>)ViewBag.trademark;
}
<style>
    li {
        margin: 5px;
        padding: 5px;
    }
</style>
<h2 class="title-1" style="text-align: center;">Danh sách sản phẩm</h2>
<button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#productModal" style="float:right;"><i class="zmdi zmdi-plus"></i>Thêm sản phẩm</button>
<table class="table table-bordered" style="background-color:white">
    <thead>
        <tr>
            <td>Tên SP</td>
            <td>Ảnh SP</td>
            <td>Số lượng</td>
            <td>Giá bán</td>
            <td>Thương hiệu</td>
            <td>Thao tác</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="name-product">@item.Name</td>
                <td class="avatar-product" name="@item.Avatar"><img src="/Assets/Client/images/@item.Avatar" width="100" /></td>
                <td class="quantity-product">@item.Quantity</td>
                <td class="price-product">@item.Price</td>
                <td class="trademark-product">@item.Trademark.Name</td>
                <td class="id-product" style="display:none">@item.ID_Product</td>
                <td class="metatitle-product" style="display:none">@item.Metatitle</td>
                <td class="description-product" style="display:none">@item.Description</td>
                <td class="content-product" style="display:none">@item.Content</td>
                <td>
                    <button class="btn btn-info btn-update-product" data-toggle="modal" data-target="#productModal">Sửa</button>
                    <button class="btn btn-warning btn-delete-product" data-id="@item.ID_Product">Xoá</button>
                </td>
            </tr>
        }

    </tbody>
</table>
@using (Html.BeginForm("CreateOrUpdateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="productModal" role="dialog">
        <div class="modal-dialog">
            <form id="form-product" action="" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">THÔNG TIN SẢN PHẨM</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">Tên sản phẩm:</label>
                                    <input id="modal-name-product" type="text" class="form-control" placeholder="Enter answer" name="name" required><br />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="price">Giá bán:</label>
                                    <input id="modal-price-product" type="number" class="form-control" placeholder="Enter answer" name="price" required><br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="quantity">Số lượng:</label>
                                    <input id="modal-quantity-product" type="number" class="form-control" placeholder="Enter answer" name="quantity" required><br />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="avatar">Avatar:</label>
                                    <input type="file" class="form-control" placeholder="Enter answer" name="ImageFile"><br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="promotion">Khuyến mãi:</label>
                                    <select class="form-control" name="ID_Promotion">
                                        @foreach (var item in promotion)
                                        {
                                            <option value="@item.ID_Promotion">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="discount">Giá khuyễn mãi:</label>
                                    <input type="number" class="form-control" placeholder="Enter answer" name="discount"><br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="metatitle">Tên đường dẫn:</label>
                                    <input type="text" class="form-control" id="metatitle" placeholder="Enter answer" name="metatitle" required><br />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="checkbox-inline">Sản phẩm Hot: <input type="checkbox" value="true" name="hot"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="trademark">Thương hiệu:</label>
                            <select class="form-control" id="modal-trademark-product" name="ID_Trademark">
                                @foreach (var item in trademark)
                                {
                                    <option value="@item.ID_Trademark">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="modal-id-product" name="ID_Product" style="display:none;" />
                        </div>
                        <div class="form-group">
                            <label for="description">Mô tả:</label>
                            <textarea class="form-control" rows="5" name="description" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">Nội dung chi tiết:</label>
                            <textarea class="form-control" rows="7" name="content" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-purple">
                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                            <span class="bigger-110">Lưu</span>
                        </button>
                        <button id="btn-reset" type="reset" class="width-35 pull-right btn btn-sm">
                            <i class="ace-icon fa fa-refresh"></i>
                            <span class="bigger-110">Reset</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}


@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

