
@model  PagedList.IPagedList<Model.EF.Promotion>
@using PagedList.Mvc
@{
    ViewBag.Title = "PromotionManager";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    li {
        margin: 5px;
        padding: 5px;
    }
</style>
<h2 class="title-1" style="text-align: center;">Danh sách khuyến mại </h2>
<button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#PromotionModal" style="float:right;"><i class="zmdi zmdi-plus"></i>Thêm thương hiệu</button>
<table class="table table-bordered" style="background-color:white">
    <thead>
        <tr>
            <td>Tên khuyến mại</td>
            <td>Từ Ngày</td>
            <td>Đến Ngày</td>
            <td>Mô Tả</td>
            <td>Thao tác</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="name-promotion">@item.Name</td>

                <td class="startTime-promotion"> @DateTime.Parse(item.StartTime.ToString()).ToString("dd/MM/yyyy")</td>
                <td class="endTime-promotion"> @DateTime.Parse(item.EndTime.ToString()).ToString("dd/MM/yyyy")</td>
                <td class="description-promotion">@item.Description</td>
                <td>
                    <button class="btn btn-info btn-update-promotion" data-toggle="modal" data-target="#PromotionModal">Sửa</button>
                    <button class="btn btn-warning btn-delete-promotion" data-id="@item.ID_Promotion">Xoá</button>
                </td>
            </tr>
        }

    </tbody>


</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
@using (Html.BeginForm("Create", "AdminPromotion", FormMethod.Post))
{
    <div class="modal fade" id="PromotionModal" role="dialog">
        <div class="modal-dialog">
            <form id="form-promotion" action="" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">THÔNG TIN KHUYẾN MẠI</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Tên khuyến mại :</label>
                            <input id="modal-name-promotion" type="text" class="form-control" placeholder="Enter answer" name="Name"><br />
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="startTime-promotion">Ngày bắt đầu  :</label>
                            <div class="input-group date" data-date-format="dd/mm/yyyy">
                                <input id="start-date" name="StartTime" type="text" class="form-control" required>
                                <div class="input-group-addon">
                                    <label for="input-date-dob" class="glyphicon glyphicon-th" id="date-dob"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="endTime-promotion" >Ngày kết thúc :</label>
                            <div class="input-group date" data-date-format="dd/mm/yyyy">
                                <input id="end-date" name="EndTime" type="text" class="form-control" required>
                                <div class="input-group-addon">
                                    <label for="input-date-dob" class="glyphicon glyphicon-th" id="date-dob"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Mô Tả</label> <br>
                            <textarea rows="4" cols="50" name="Description" style="border:solid 1px orange;">
                            </textarea>
                            <br>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-purple">
                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                            <span class="bigger-110">Lưu</span>
                        </button>
                        <button id="btn-reset" type="reset" class="width-35 pull-right btn btn-sm">
                            <i class="ace-icon fa fa-refresh"></i>
                            <span class="bigger-110">Reset</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

